{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "proseWrap": "always",
  "trailingComma": "es5",
  "quoteProps": "consistent",
  "singleQuote": true,
  "jsxSingleQuote": true
}
