.gauge.chart .chart {
  position: relative;
}

.gauge.chart .bg,
.gauge.chart .foreground {
  position: absolute;
  transform: rotateZ(135deg);
}

.gauge.chart .meter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0% 0%;
  transition: all 1s;
}

.gauge.chart .breakpoints div {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform-origin: 0% 0%;
  align-items: center;
  width: 2px !important;
}

.gauge.chart .breakpoints span {
  font-size: 14px;
  color: #9b9b9b;
  line-height: 30px;
  display: block;
}

.gauge.chart circle {
  transition: all 1s;
}
