@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="radio"]:focus,
  [type="radio"]:checked {
    box-shadow: none;
    @apply !bg-4e7dd9 outline outline-1 outline-B0C4DB outline-offset-0 bg-none border-4 !border-white;
  }
}

*[tabindex="-1"] {
  outline: none;
}

input:checked + div {
  @apply border-4e7dd9;
}
input:checked + div svg {
  @apply block;
}

.transform-flip {
  transform: scale(1, -1);
}

.shim-progress {
  position: relative;
  overflow: hidden;
  background-color: rgba(37, 99, 235, 0.7);
}

.shim-progress::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(233, 233, 233, 1) 0,
    rgba(233, 233, 233, 0.9) 50%,
    rgba(233, 233, 233, 0.8) 100%
  );
  animation: shimmer 1s ease-out infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}
