@tailwind base;
@tailwind components;
@tailwind utilities;

*[tabindex="-1"] {
  outline: none;
}

input:checked + div {
  @apply border-4e7dd9;
}
input:checked + div svg {
  @apply block;
}

.transform-flip {
  transform: scale(1, -1);
}

@layer utilities {
  .scrollbar {
    scrollbar-width: 5px;
    scrollbar-color: #f1f3f6 #fefeff;
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #fefeff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #f1f3f6;
    border-radius: 46px;
  }
}
