.scroll_container {
  scrollbar-width: thin;
  scrollbar-color: #ceebed #fff;
}

.scroll_container::-webkit-scrollbar {
  width: 0.5em;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: #ceebed;
  border-radius: 4px;
}
