.shadow {
  position: relative;
  box-shadow: 0 3px 3px 0 rgb(162, 166, 218, 0.15);
}

.shadow::after {
  content: " ";
  width: 65%;
  height: 50%;
  background: #a2a6da;
  filter: blur(40px);
  border-radius: 16px;
  transform: translateY(55%);

  /* create a new stacking context */
  position: absolute;
  z-index: -1; /* to be below the parent element */
}
